
/** ********** Fonts ********** **/
* {
    font-family: JetBrains Mono, "SF Pro Text", archcraft, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

/** ********** Main Window ********** **/
window {
	background-color: rgba(30,30,46,0.35);
}

/** ********** Buttons ********** **/
button {
	background-color: rgba(30,30,46,0.45);
    color: #FFFFFF;
	border: 0px solid #282838;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

button:focus {
	background-color: #45475a;
	outline-style: none;
}

button:active {
    background-color: #a6e3a1;
    outline-style: none;
} 
button:hover{
    background-color: #eba0ac;
    outline-style: none;
}
 

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/lock"));
}
#lock:hover {
    background-image: image(url("icons/lock-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/lock-hover"));
}

#logout {
    background-image: image(url("icons/logout.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/logout"));
}
#logout:hover {
    background-image: image(url("icons/logout-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/logout-hover"));
}

#suspend {
    background-image: image(url("icons/suspend.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/suspend"));
}
#suspend:hover {
    background-image: image(url("icons/suspend-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/suspend-hover"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/hibernate"));
}
#hibernate:hover {
    background-image: image(url("icons/hibernate-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/hibernate-hover"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/shutdown"));
}
#shutdown:hover {
    background-image: image(url("icons/shutdown-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/shutdown-hover"));
}

#reboot {
    background-image: image(url("icons/reboot.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/reboot"));
}

#reboot:hover {
    background-image: image(url("icons/reboot-hover.png"), url("/home/juancarlos/.config/hypr/wlogout/icons/reboot-hover"));
}
