configuration{
    modi: "run,window,combi,emoji";
    show-icons: true;
    matching: "normal";
    terminal: "kitty";
    click-to-exit: true;
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    display-emoji: "😀 Emoji";
    sidebar-mode: false;
}

@theme "catppuccin-mocha"
